*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--size-mobile: 375px;
	--size-desktop: 1440px;

	--clr-nutmeg: hsl(14, 45%, 36%);
	--clr-dark-raspberry: hsl(332, 51%, 32%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-rose-white: hsl(330, 100%, 98%);
	--clr-eggshell: hsl(30, 54%, 90%);
	--clr-gray-light: hsl(30, 18%, 87%);
	--clr-wenge-brown: hsl(30, 10%, 34%);
	--clr-dark-charcoal: hsl(24, 5%, 18%);

	--clr: hwb(30 84% 11%);

	--clr-hr: hsl(30, 18%, 93%);

	--fnt-family-serif: 'Young Serif', serif;
	--fnt-family-sans: 'Outfit', sans-serif;

	--fnt-wgt-regular: 400;
	--fnt-wgt-semibold: 600;
	--fnt-wgt-bold: 700;

	--border-radius: 0.75rem;

	--outer-space: 2.5rem;
	--inner-space: 2rem;
}

body {
	background-color: var(--clr-eggshell);
	color: var(--clr-wenge-brown);
	font-family: var(--fnt-family-sans);
	line-height: 1.5;
}

.container > * + * {
	margin-top: var(--inner-space);
}

h1,
h2 {
	font-family: var(--fnt-family-serif);
	color: var(--clr-dark-raspberry);
	line-height: 1;
}

h1 {
	color: var(--clr-dark-charcoal);
	font-size: 2.5rem;
	font-weight: normal;
}

img {
	display: block;
	max-width: 100%;
	border-radius: var(--border-radius);
}

hr {
	border-top: 1px solid #e3ddd7;
	border-bottom: 1px solid #f1eeeb;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: .5rem;
}

th {
	font-weight: normal;
	text-align: left;
	padding-left: 2rem;
}

td {
	color: var(--clr-dark-raspberry);
	font-weight: var(--fnt-wgt-bold);
}


tr + tr {
	border-top: 1px solid var(--clr-hr);
}

.container {
	background: var(--clr-white);
	max-width: 46rem;
	margin-inline: auto;
	margin-block: 2rem;
	padding: var(--outer-space);
	border-radius: calc(var(--border-radius) * 2);
}

.prep-section {
	background: var(--clr-rose-white);
	padding: 1.75rem;
	border-radius: var(--border-radius);
}

.prep-section .section-title {
	color: var(--clr-dark-raspberry);
}

li span {
	font-weight: var(--fnt-wgt-bold);
}

li + li {
	margin-top: .5rem;
}

li::marker {
	color: var(--clr-dark-raspberry);
	font-weight: var(--fnt-wgt-bold);
}

li {
	padding-left: 1rem;
}

.flow\:sm > *+* {
	margin-top: 1rem;
}

.flow\:md > *+* {
	margin-top: 1.5rem;
}
